absl-py
flask
Flask-Cors
google-cloud
google-cloud-secret-manager
google-cloud-storage
google-cloud-logging
gunicorn
httplib2
pandas
requests
google-generativeai
google-api-core
google-cloud-aiplatform
gcsfs
XlsxWriter
fsspec
ratelimiter