absl-py
flask
Flask-Cors
google-cloud
google-cloud-secret-manager
google-cloud-storage
google-cloud-logging
google-cloud-build
gunicorn
httplib2
pandas
requests
google-generativeai
google-api-core
google-cloud-aiplatform>=1.49
gcsfs
XlsxWriter
fsspec
ratelimiter